<%-include('./Layout/Header')%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>THis is My Home Page</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis beatae optio iure rerum, sint et blanditiis. Harum officiis necessitatibus quod veritatis beatae excepturi, soluta vel quidem aliquam, quasi aliquid optio!</p>
    
</body>
</html>
<%-include('./Layout/Footer')%>
