<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <a href="/route/api/">Home</a>
    <a href="/route/api/resister">resister</a>
    <a href="/route/api/login">login</a>
    <a href="/route/api">logOut</a>
    <a href="/route/api/profile">profile</a>


</body>
</html>